@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";

.disable-text-selection {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}
/* 
#pr_id_2_content {
  padding: 0;
} */

.css-1ik4h6n {
  visibility: hidden;
}

.css-qlig70 {
  max-width: 1200px;
}

.css-efhinx {
  --chakra-sizes-md: 1200px;
  max-width: 600px;
}

summary {
  list-style: none;
}
