@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";

.disable-text-selection {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}

body {
  overscroll-behavior-x: none;
}
/* 
#pr_id_2_content {
  padding: 0;
} */

.css-1ik4h6n {
  visibility: hidden;
}

.css-qlig70 {
  max-width: 1200px;
}

.css-efhinx {
  --chakra-sizes-md: 1200px;
  max-width: 600px;
}

summary {
  list-style: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 50px;
}

.css-17pwl6t {
  z-index: 1 !important;
}
@media screen and (max-width: 600px) {
  .css-3a5bz2 {
    width: 60% !important;
    height: 60% !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
