.buttons-container {
  width: 1/6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: $mycolor;

  .button {
    height: 1/6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: -28px;

    .button-top {
      background-color: $mycolor;
      height: 8px;
      width: 8px;
      border-radius: 0 0 50% 0;
      color: $text-color;

      &.active {
        background-color: $text-color;
      }
    }

    .button-link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 16vh;
      width: calc(10 / 12 * 100%);
      margin: 7px;
      background-color: $mycolor;
      border-radius: 0 50px 50px 0;
      font-size: 2em;
      color: $text-color;

      &.active {
        background-color: $slate-color;
        color: $text-color;
      }

      .icon {
        margin-right: 10px;
      }
    }

    .button-bottom {
      background-color: $mycolor;
      height: 8px;
      width: 8px;
      border-radius: 50% 0 0 0;
      color: $text-color;

      &.active {
        background-color: $text-color;
      }
    }
  }
}
